{% extends 'AseagleBundle::dashboard-layout.html.twig' %}

    {% block dashboard_content %}
        <h1>Edit Honor Award</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endblock %}