@CHARSET "ISO-8859-1";

html{
  height: 100%;
}

body {
  /*padding-top: 50px;*/
	overflow-x: hidden!important;
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: #fff;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}

h1, h2, h3, h4 {
margin: 0;
font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
font-weight: 300;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
  }

  .row-offcanvas-left.active {
    left: 50%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 10px;
  }
}

/*
 * navbar
 * --------------------------------------------------
 */

.nav.nav-pills > li > a {
  border-top: 3px solid transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #444;
}
.nav.nav-pills > li > a > .fa,
.nav.nav-pills > li > a > .glyphicon,
.nav.nav-pills > li > a > .ion {
  margin-right: 5px;
}
.nav.nav-pills > li.active > a,
.nav.nav-pills > li.active > a:hover {
  background-color: #f6f6f6;
  border-top-color: #3c8dbc;
  color: #444;
}
.nav.nav-pills > li.active > a {
  font-weight: 600;
}
.nav.nav-pills > li > a:hover {
  background-color: #f6f6f6;
}
.nav.nav-pills.nav-stacked > li > a {
  border-top: 0;
  border-left: 3px solid transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #444;
}
.nav.nav-pills.nav-stacked > li.active > a,
.nav.nav-pills.nav-stacked > li.active > a:hover {
  background-color: #f6f6f6;
  border-left-color: #3c8dbc;
  color: #444;
}
.nav.nav-pills.nav-stacked > li.header {
  border-bottom: 1px solid #ddd;
  color: #777;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}


/* Sidebar navigation */
.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


.box-header {
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0px solid #f4f4f4;
  color: #444;
}
.box-header:before,
.box-header:after {
  display: table;
  content: " ";
}
.box-header:after {
  clear: both;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  float: left;
  cursor: default;
}
.box-header a {
  color: #444;
}
.box-header > .box-tools {
  padding: 5px 10px 5px 5px;
}


/*
 * Main content
 */

.main {
  padding: 10px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * table-wrapper
 */

.table-wrap {
	background: #fff;
	position: relative;
}

@media screen and (max-width: 767px) {
  .nav-stacked > li:not(.header) {
    float: left;
    width: 50%;
  }
  .nav-stacked > li:not(.header).header {
    border: 0!important;
  }
  .search-form {
    margin-top: 10px;
  }
}

.pad {
padding: 10px;
}

/* THE MESSAGES LIST table mail-box */
.table-mailbox > tbody > tr > td {
	border-top: none;
	border-left-color: transparent!important;
	border-right-color: transparent!important;
}


.table-mailbox > tbody > tr:nth-child(odd) {
	background-color: #FaFaFa;
}

.table-mailbox > tbody > tr:nth-child(even) {
	cursor: pointer;
	background-color: #FFF;
}

.table-mailbox > tbody > tr:hover {
	cursor: pointer;
	background-color: #F0F7FD;
}

.table-mailbox tr.unread > td {
  color: #000;
  font-weight: 600;
}
.table-mailbox tr > td > .fa.fa-star,
.table-mailbox tr > td > .fa.fa-star-o,
.table-mailbox tr > td > .glyphicon.glyphicon-star,
.table-mailbox tr > td > .glyphicon.glyphicon-star-empty {
  color: #f39c12;
  cursor: pointer;
}
.table-mailbox tr > td.small-col {
  width: 30px;
}
.table-mailbox tr > td.name {
  width: 150px;
}
.table-mailbox tr > td.time {
  text-align: right;
  width: 100px;
}
.table-mailbox tr > td {
  white-space: nowrap;
}
.table-mailbox tr > td > a {
  color: #666;
}

.table-mailbox tr > td > a > span:before {
	content: " - ";
}
.table-mailbox tr > td > a > span {
	margin-left: 10px;
	  color: #aaa;
	  overflow: hidden;
}

.table-responsive {
	position: relative;
	padding-right: 20px;
	overflow-y: auto;

}

/* THE  MESSAGE OPEN table mail-box */
.inbox-compose-footer, .inbox-download, .inbox-info-bar, .inbox-message {
margin-right: 200px;
position: relative;
}

.email-open-header {
margin: -10px 0 0 0;
font-size: 20px;
border-bottom: 1px solid #bfbfbf;
border-top: 1px solid #eee;
padding: 15px 3px;
}

.inbox-info-bar {
padding: 10px 0;
border-bottom: 1px solid #bfbfbf;
}

.inbox-download, .inbox-message {
padding: 15px 4px;
border-bottom: 1px solid #bfbfbf;
}

.inbox-download-list {
list-style: none;
margin: 5px 0 0;
padding: 0;
}

.inbox-download-list li {
display: inline-block;
margin: 0 5px 0 0;
vertical-align: top;
}

.email-infobox {
display: block;
width: 180px;
border-bottom: 1px solid #bfbfbf;
padding-bottom: 0;
padding-top: 15px;
position: absolute;
top: 65px;
right: 15px;
}

.well.well-light {
background: #fff;
border: 1px solid #e2e2e2;
}

/* THE  MESSAGE COMPOSE  */
.no-padding {
padding: 0!important;
}

.note-editor {
border: none;
}

.form-control {
box-shadow: none!important;
-webkit-box-shadow: none!important;
-moz-box-shadow: none!important;
}

.form-control, .input-lg, .input-sm, .input-xs {
border-radius: 0!important;
-webkit-border-radius: 0!important;
-moz-border-radius: 0!important;
}

.form-horizontal .control-label {
text-align: right;
margin-bottom: 0;
padding-top: 7px;
}

.inbox-info-bar .form-group input, .inbox-info-bar .select2-container-multi .select2-choices {
border-color: #fff!important;
}

.inbox-info-bar .form-group {
margin: 0;
}

em {
position: absolute;
top: 6px;
right: 20px;
text-align: right;
font-style: normal;
}

.inbox-compose-footer {
padding: 10px;
background: #F5F5F5;
border-bottom: 1px solid #A9A9A9;
}

.note-editor .note-editable {
background-color: rgba(48,126,204,.05);
}

.note-editor .note-editable:focus {
background-color: #fff;
}

/*-----type ahead------*/

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 12px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 12px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
  text-align: right;
}
