{% extends 'AseagleBundle::layout.html.twig' %}

{% block title %}Areagle - Message Center{% endblock %}

{% block content_header '' %}

    {% block content %}
        <div>abc</div>
        <script>
            $(document).ready(function() {

                $.ajax({
                    type: "POST",
                    url: "/messagecenter/list_sent",
                    dataType: "json"
                }).done(function( msg ) {
                            console.log(msg);
                        });

                $.ajax({
                    type: "POST",
                    url: "/messagecenter/open_sent/1",
                    dataType: "json"
                }).done(function( msg ) {
                            console.log(msg);
                        });

                 $.ajax({
                 type: "POST",
                 url: "/messagecenter/list/2?search_str=&is_read=false&is_star=false&is_task=&sender=&sort_by_sender=&sort_by_date=&page=",
                 dataType: "json"
                 }).done(function( msg ) {
                 console.log(msg);
                 });

                 $.ajax({
                 type: "POST",
                 url: "/messagecenter/open/2",
                 dataType: "json"
                 }).done(function( msg ) {
                 console.log(msg);
                 });

/*
                 $.ajax({
                 type: "POST",
                 url: "messagecenter/send",
                 data: { received_ids : "2,3", subject : "abc abc", body : "123 abc 123"},
                 dataType: "json"
                 }).done(function( msg ) {
                 console.log(msg);
                 });
                 */
            });
        </script>
    {% endblock %}
