{% extends "::base.html.twig" %}

{% block title %}AseagleBundle:Search:get_list_product_search{% endblock %}

{% block body %}
<h1>Welcome to the Search:get_list_product_search page</h1>
{% endblock %}
