{% extends 'AseagleBundle::layout.html.twig' %}
{% block title %}Welcome{% endblock %}
{% block local_css %}
    <link rel="stylesheet" href="{{ asset('bundles/framework/vendor/bootplus/css/bootplus.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/main.css') }}" />
    <style>
        .short-text {
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block content %}
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Navigation -->
    <div class="navbar yamm navbar-default navbar-fixed-top">
        <!--div class="container"-->
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle collapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><a href="#" class="navbar-brand">Aseagle</a>
        </div>
        <div id="navbar-collapse-1" class="navbar-collapse collapse" style="height: 1px;">
            <ul class="nav navbar-nav">
                <!-- Grid 12 Menu -->
                <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Grid<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="grid-demo">
                            <div class="row" id="aseagle-navbar" style="padding: 30px">

                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Classic list -->
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">List<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Content container to add padding -->
                            <div class="yamm-content">
                                <div class="row">
                                    <ul class="col-sm-2 list-unstyled">
                                        <li>
                                            <p><strong>Section Title</strong></p>
                                        </li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                    </ul>
                                    <ul class="col-sm-2 list-unstyled">
                                        <li>
                                            <p><strong>Links Title</strong></p>
                                        </li>
                                        <li><a href="#"> Link Item </a></li>
                                        <li><a href="#"> Link Item </a></li>
                                        <li><a href="#"> Link Item </a></li>
                                        <li><a href="#"> Link Item </a></li>
                                        <li><a href="#"> Link Item </a></li>
                                        <li><a href="#"> Link Item </a></li>
                                    </ul>
                                    <ul class="col-sm-2 list-unstyled">
                                        <li>
                                            <p><strong>Section Title</strong></p>
                                        </li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                    </ul>
                                    <ul class="col-sm-2 list-unstyled">
                                        <li>
                                            <p><strong>Section Title</strong></p>
                                        </li>
                                        <li>List Item</li>
                                        <li>List Item</li>
                                        <li>
                                            <ul>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                                <li><a href="#"> Link Item </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Accordion demo -->
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Accordion<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div id="accordion" class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapsible Group Item #1</a></h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">Ut consectetur ullamcorper purus a rutrum. Etiam dui nisi, hendrerit feugiat scelerisque et, cursus eu magna. </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Item #2</a></h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">Nullam pretium fermentum sapien ut convallis. Suspendisse vehicula, magna non tristique tincidunt, massa nisi luctus tellus, vel laoreet sem lectus ut nibh. </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Collapsible Group Item #3</a></h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">Praesent leo quam, faucibus at facilisis id, rhoncus sit amet metus. Sed vitae ipsum non nibh mattis congue eget id augue. </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Classic dropdown -->
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Classic<b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a tabindex="-1" href="#"> Action </a></li>
                        <li><a tabindex="-1" href="#"> Another action </a></li>
                        <li><a tabindex="-1" href="#"> Something else here </a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#"> Separated link </a></li>
                    </ul>
                </li>
                <!-- Pictures -->
                <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Pictures<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190/"></a></div>
                                    <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190/"></a></div>
                                    <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190/"></a></div>
                                    <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190/"></a></div>
                                    <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190/"></a></div>
                                    <div class="col-xs-6 col-sm-2"><a href="#" class="thumbnail"><img alt="150x190" src="http://placekitten.com/150/190/"></a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/div-->
    </div>





    <!-- Page Content -->
    <div class="container">

        <div class="row row-offcanvas row-offcanvas-left">
            <div class="main-area">
                <div class="card">

                    <h5 class="card-title" style="white-space: nowrap; padding-bottom: 5px;"><span style="text-transform: uppercase;  overflow: hidden;  text-overflow: ellipsis;;width: 200px;  float: left;"><strong>I want to buy Vietnamese Rice asdf sadf asdf asdf asdf asdf asefasd</strong></span><span>   |   Number order: </span><strong>100</strong> (kg)<span class="pull-right">Expired: <strong>20/11/2105</strong></span></h5>
                    <div class="card-heading-header">



                        <div class="progress" style="height: 25px; border-radius: 0px;">
                            <div class="progress-bar progress-bar-info" role="progressbar" style="  padding-left: 5px;width:10%;  padding-top: 5px; height: 5px;text-align: left; color: #B8A9A9">
                                Approved
                            </div>
                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" style="  padding-left: 5px;width:40%;  padding-top: 5px; height: 5px; text-align: left; color: #B8A9A9">
                                Receiving quotations
                            </div>

                        </div>

                    </div>


                    <div class="card-body" style="  padding-left: 5px;">
                        Packaging & Delivery

                        Packaging Detail:	25 AND 50 KGS PP BAGS
                        Delivery Detail:	WITHIN 15-20 DAYS AS PER REQUIRED QUANTITY
                        <div class="comments-collapse-toggle">
                            <a data-toggle="collapse" href="#b3-comments">13 quotations <span class="badge">2 unread</span> <i class="icon-angle-down"></i></a>
                            <a href="#" class="pull-right"> more detail </a>
                        </div>
                        <div id="b3-comments" class="comments collapse" style="height: 0px;">
                            <div class="comment"><strong>Cong ty ABC:</strong>US$1000 per 100 ton(s)</div>
                            <div class="comment"><strong>XYZ Inc:</strong>US$900 per 100 ton(s)</div>
                            <div class="comment"><strong>TMA Solution:</strong>US$1020 per 100 ton(s)</div>
                        </div>
                    </div>
                </div>
            </div><!--/main area-->
        </div><!--/row-->
        <hr>
    </div>

{% endblock %}

{% block local_footer_libs %}
    <script src="js/main/purchase_management.js"></script>
    <script src="js/main/_purchase_management.js"></script>
{% endblock %}
