{% extends 'AseagleBundle::layout.html.twig' %}

{% block title %}Areagle - Welcome{% endblock %}

{% block content_header '' %}

    {% block content %}
        <div class="div-body-content">
            {% include 'AseagleBundle::file_upload.html.twig' %}
        </div>
    {% endblock %}
