{% block form_row %}
    <div class="form-group">
        {{ form_errors(form) }}
        {{ form_label(form, null, { 'label_attr': {'class': 'col-md-2 control-label'}}) }}
        <div class="col-md-6">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock form_row %}
{% block submit_row %}
    <div class="form-group">
        <label class="col-md-2 control-label required"></label>
        <div class="col-md-6">
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock submit_row %}